<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4"><i class="fa fa-book fa-fw"></i>BOOKS CATALOG</h1>
        <h5>Presenting to you a collection of my favorite books.</h5>
        <h5> Happy Reading!</h5>
    </div>
    <hr/>

    <div class="container text-center">


        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("HarryPotter", "Home")">
                        <img src="/img/hnew.jpg" alt="Harry Potter Collection" style="width:104%">
                    </a>
                    <div class="caption">
                        <p>@Html.ActionLink("HARRY POTTER SERIES", "HarryPotter", "Home")</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("AThousandSplendidSuns", "Home")">
                        <img src="/img/kh.jpg" alt="A thousand splendid suns" style="width:100%">
                    </a>
                    <div class="caption">
                        <p>@Html.ActionLink("A THOUSAND SPLENDID SUNS", "AThousandSplendidSuns", "Home")</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("AngelsAndDemons", "Home")">
                        <img src="/img/poster.jpg" alt="Angels and demons" style="width:104%">
                    </a>
                        <div class="caption">
                            <p>@Html.ActionLink("ANGELS AND DEMONS", "AngelsAndDemons", "Home")</p>
                        </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("OliverTwist", "Home")">
                        <img src="/img/ot.jpg" alt="Oliver Twist" style="width:98%">
                    </a>
                        <div class="caption">
                            <p>@Html.ActionLink("OLIVER TWIST", "OliverTwist", "Home")</p>
                        </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("TheAlchemist", "Home")">
                        <img src="/img/the-alchemist-a-graphic-novel.jpg" alt="The Alchemist" style="width:107%">
                    </a>
                        <div class="caption">
                            <p>@Html.ActionLink("THE ALCHEMIST", "TheAlchemist", "Home") </p>
                        </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("LittleWomen", "Home")">
                        <img src="/img/little2cover.jpg" alt="Little Women" style="width:109%">
                    </a>
                        <div class="caption">
                            <p>@Html.ActionLink("LITTLE WOMEN", "LittleWomen", "Home")</p>
                        </div>


</div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("IRobot", "Home")">
                        <img src="/img/rob.jpg" alt="I, Robot" style="width:100%">
                    </a>
                        <div class="caption">
                            <p>@Html.ActionLink("I, ROBOT", "IRobot", "Home")</p>
                        </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("Outlander", "Home")">
                        <img src="/img/outlander-2.jpg" alt="OutlanderCover" style="width:100%">
                    </a>
                        <div class="caption">
                            <p>@Html.ActionLink("OUTLANDER", "Outlander", "Home")</p>
                        </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("GoneGirl", "Home")">
                        <img src="/img/gone-girl-cover.jpg" alt="Little Women" style="width:98%">
                    </a>

                        <div class="caption">
                            <p>@Html.ActionLink("GONE GIRL", "GoneGirl", "Home")</p>
                        </div>

                </div>
            </div>


        </div>


    </div>
</body>
</html>