




@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>
    Below are the reviews posted on the website
</h3>
<hr/>
<div>

    @foreach (var post in Model)
    {


    <article>
        <h5 class="font-weight-bold">@post.BookName</h5>
        <h5> @post.Title </h5> 
        <div>
            Posted <span>@post.Posted</span> by <span>@post.Author</span>
        </div>
        

        <h6 class="font-weight-bold text-uppercase"> Review</h6>



        <div>

            @post.Body
        </div>
        <div>
            <h6 class="font-weight-bold text-uppercase"> Rating</h6>

            @for (int i = 0; i < post.Rating; i++)
            {
                <span class="fa fa-star"></span>
            }

            @for (int i = post.Rating; i < 5; i++)
            {
                <span class="fa fa-star-o"></span>
            }
        </div>
        <p>
            @Html.ActionLink("View", "Post", "Review", new
                {
                    year = post.Posted.Year,
                    month = post.Posted.Month,
                    key = post.Key
                 })
        </p>

        <br />

    </article>
        <hr/>
    }
</div>

